<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <div class="ui inverted left vertical sidebar menu">
        <a class="item" >
        <h4 class="ui grey header">Nom</h4>
        <p>Profile</p>
        </a>
        <a href="/" class="item">
            <i class="home icon"></i> Dashboard
        </a>
        <a href="/categories" class="item">
            <i class="block layout icon"></i> Catégories
        </a>
        <a href="/projects" class="item">
            <i class="archive  icon"></i> Projets
        </a>
    </div>
</section>
<!-- /.sidebar -->